<h3> Assignment#1 : Web Scraping

In [41]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [49]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = urlopen(url)
body= BeautifulSoup(html,'lxml')

In [64]:
table= body.find_all("table")[0]
df = pd.read_html(str(table))[0]
print("Before Removing Not Assigned:",df.shape)

df=df[df["Borough"]!="Not assigned"].reset_index(drop=True)
print("After Removing Not Assigned:",df.shape)

Before Removing Not Assigned: (287, 3)
After Removing Not Assigned: (210, 3)

<h3> Assigning "Borough" to "Neighborhood" where value is "Not assigned"

In [66]:

idx=df["Neighbourhood"]=="Not assigned"

df.loc[idx,"Neighbourhood"]=df["Borough"]

print("Value which got replaced\n:",df[df["Neighbourhood"]=="Not Assigned"])
df.head()

Value which got replaced
: Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

<h3> Joining Neighborhood with comma separator

In [71]:
df_grp=df.groupby(by=["Postcode","Borough"])["Neighbourhood"].apply(','.join).reset_index()
df_grp.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [72]:
print(df_grp.shape)

(103, 3)